.root {
  position: relative;
  left: -120px;
  .input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 400px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 42px;
    opacity: 0.5;
    &:focus {
      opacity: 1;
      border: 1px solid rgba(0, 0, 0, 0.4);
    }
  }
  .icon {
    opacity: 0.3;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .xicon{
    opacity: .3;
    right: 10px;
    top: 10px;
    position: absolute;
    cursor: pointer;
    &:hover{
      opacity: .6;
    }
  }
}
